.DS_Store
stash/*
downloads/*
patched/ssdt*.dsl
patched/dsdt.dsl
unpatched/ssdt*.dsl
unpatched/dsdt.dsl
patched/dsdt.dsl
build/*
!build/readme.txt
AppleHDA_ALC269.kext
AppleHDAHCD_ALC269.kext
AppleHDA_ALC269_Resources
brix.xcodeproj/project.xcworkspace/xcuserdata
brix.xcodeproj/project.xcworkspace/xcshareddata/brix.xccheckout
brix.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
