<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>CodecID</key>
			<integer>283902569</integer>
			<key>ConfigData</key>
			<data>IUcc8CFHHQAhRx4AIUcfQCFXHHAhVx1AIVceISFXHwIhZxzwIWcdACFnHgAhZx9AIXcc8CF3HQAhdx4AIXcfQCGHHPAhhx0AIYceACGHH0AhlxzwIZcdACGXHgAhlx9AIacc8CGnHQAhpx4AIacfQCG3HPAhtx0AIbceACG3H0Ah5xyQIecdYSHnHksh5x8B</data>
			<key>FuncGroup</key>
			<integer>1</integer>
			<key>LayoutID</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
